#logo
ul
  li
    a.active(href='/home') \\ Jammer //
  li
    a(href='/search') Find your musician!
  if (user)
    li
      a(href='/main-user/' + user._id)= user.username
    li
      a(href='/logout', style='text-align:right') Logout
  if (!user)
    li
      a(href='/sign-up') Sign Up!
    li
      a(href='/login') Login