extends layout

block content
  .container.theme-showcase(role='main')
    h1 Allo
    p Welcome to jammer moodafoka!!!
        //- .jumbotron
        //-   ul#tasks.list-group
        //-     each task in pending
        //-       li.list-group-item(data-index=task._id)= task.desc
        //-         a(class="delete", href="#") delete
        //-         a(class="complete", href="#") complete
