extends layout
block content
  .container.user-main(style='margin-top:2%; text-align:center; width:50%;')
    h1 Welcome to Jammer!!
    p
        | A social network 
        b by
        |  musicians 
        b for
        |  musicians!
    p
        | Create an 
        a(href='/sign-up') Account 
        | and 
        a(href='/search') Search
        |  for the specific musician you wish to jam with!
