extends layout
block content
  div(style='margin-top:2%; margin-left:20%;')
    h1 Hello #{user.name}!
    h2 Welcome to Jammer
    p
      | How about you 
      a(href='/search') search
      |  for the musician you wish to find!
    p 
      | Or if you prefer you can view and edit your profile 
      a(href='/main-user/' + user._id) here
      | !
